{{ block("header", "header.html.twig") }}

{% block body %}  
 <div class="emploi-temps">
 <div class="tableau">
<h5 style="color:white;">PAGE DE CONSULTATION D'UN ELEVE</h5>
 <center>
<h6 style="color:white; width:fit-content;">MES INFORMATIONS</h6>
 <p>

    <table class="table table-bordered text-white " style="width:auto">
        <tr>
            <th scope="col">Informations</th>
            <th scope="col" colspan="2">Elève</th>
        </tr>
        <tr>
            <td>Id : </td>
            <td>{{eleve.id}} </td>
        </tr>
        <tr>
	        <td>Nom : </td>
            <td>{{eleve.nom}}</td>
        </tr>
        <tr>
            <td>Prénom : </td>
            <td>{{eleve.prenom}}</td>
        </tr>
        <tr>
	        <td>Date de naissance : </td>
            <td>{{eleve.date_naiss|date("d/m/Y")}}</td>
        </tr>
    </table>


    <h6 style="color:white; width:fit-content;">MON RESPONSABLE</h6>
     <p>
    <table class="table table-bordered text-white" style="width:auto">
        <tr>
            <th scope="col">Informations</th>
            <th scope="col">Responsable</th>
        </tr>
        <tr>
            <td>Id : </td>
            <td>{{eleve.responsable.id}} </td>
        </tr>
        <tr>
	        <td>Nom : </td>
            <td>{{eleve.responsable.nom}}</td>
        </tr>
        <tr>
            <td>Prénom : </td>
            <td>{{eleve.responsable.prenom}}</td>
        </tr>
        <tr>
	        <td>Ville : </td>
            <td>{{eleve.responsable.ville}}</td>
        </tr>
        <tr>
	        <td>Rue : </td>
            <td>{{eleve.responsable.rue}}</td>
        </tr>
        <tr>
	        <td>Code Postal : </td>
            <td>{{eleve.responsable.codep}}</td>
        </tr>
        <tr>
	        <td>Email : </td>
            <td>{{eleve.responsable.email}}</td>
        </tr>
        <tr>
	        <td>Téléphone : </td>
            <td>{{eleve.responsable.tel}}</td>
        </tr>
        <tr>
	        <td>Tranche quotient : </td>
            <td>{{eleve.responsable.tranche.quotient}}</td>
        </tr>
    </table>

<h6 style="color:white; width:fit-content">MES COURS</h6>
 <p>
    <table class="table table-bordered text-white"style="width:auto">
        <tr>
            <th scope="col">Id du cours</th>
            <th scope="col">Cours</th>
            <th scope="col">Jour</th>
            <th scope="col">Crénaux horaire</th>
            <th scope="col">Nombre de paiements</th>
        </tr>
      {% for c in eleve.inscriptions %}
        <tr>
            <td>{{ c.cours.id}}</td>
            <td>{{ c.cours.libelle}}</td>
            <td>{{ c.cours.dateCours}}</td>
            <td>{{ c.cours.heuredebut}} --> {{ c.cours.heurefin}}</td>
            <td>{{ c.nombredepaiements}}</td>
        </tr>
	     {% endfor %}
    </table>

    <h6 style="color:white; width:fit-content">MES EMPRUNTS</h6>
    <p>
    <table class="table table-bordered text-white"style="width:auto">
        <tr>
            <th scope="col">Id de l'instrument</th>
            <th scope="col">Instrument</th>
            <th scope="col">Date Emprunt</th>
            <th scope="col">Date Fin</th>
            <th scope="col">Etat</th>
        </tr>
           {% for i in eleve.emprunters %}
        <tr>
            <td>{{ i.instrument.id}}</td>
            <td>{{ i.instrument.intitule}}</td>
            <td>{{ i.datedebut|date("d/m/Y")}}</td>
            <td>{{ i.dateretour|date("d/m/Y")}}</td>
            <td>{{ i.instrument.etat.libelle}}</td>
        </tr>
	     {% endfor %}
    </table>
 </div>
 </div>
 </center>
{% endblock %}
{{ block("footer", "footer.html.twig") }}