{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{{ block("header", "header.html.twig") }}



    <h1>INSCRIPTION</h1>

<div class="form">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.mail) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</br>
        {{ form_row(registrationForm.agreeTerms) }}</br>

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}</br>
</div>    
    
{{ block("footer", "footer.html.twig") }}
{% endblock %}
