{{ block("header", "header.html.twig") }}
{# templates/instrument/ajouter.html.twig #}


<div class="form center bg" align="center">
	{{ form_start(form) }}
	<div class="form-groupe">{{ form_row(form.intitule) }}</div>
	<div class="form-groupe">{{ form_row(form.prixAchat) }}</div>
	<div class="form-groupe">{{ form_row(form.dateAchat) }}</div>
	<div class="form-groupe">{{ form_row(form.utilisation) }}</div>
	<div class="form-groupe">{{ form_row(form.marque) }}</div>
	<div class="form-groupe">{{ form_row(form.couleur) }}</div>
	<div class="form-groupe">{{ form_row(form.etat) }}</div>
	<div class="form-groupe">{{ form_row(form.typeInstrument) }}</div>
	{{ form_end(form) }}
</div>

{{ block("footer", "footer.html.twig") }}
