{{ block('header', 'header.html.twig')}}
{% block body %}
			LISTE DES TYPES D'INSTRUMENTS</br></br>
		<div class="emploi-temps">
			<table class='table table-bordered text-white'>

			<tr>
				<td>Libelle</td>
				<td>Classe d'Instrument</td>
			</tr>

			{% for i in pInstruments %}

			<tr>
				<td><a href="{{ path('instrumentConsulter', { 'id': i.id }) }}">{{ i.libelle }}</a></td>
				<td>{{ i.classeinstrument.libelle }}</a></td>
				
	{% else %}
			<tr>
				<td>Aucun instrument n'a été trouvé.</td>
			</tr>
	{% endfor %}
</table>
</div>
{% endblock %}
{{ block('footer', 'footer.html.twig') }}