{{ block {"header", "header.html.twig"} }}

{% block body %}
			LISTE DES INSTRUMENTS</br></br>
			<table>

			<tr>
				<td>Intitule</td>
				<td>Prix dachat</td>
				<td>Date dachat</td>
				<td>Utilisation</td>
			</tr>

			{% for i in pInstruments %}

			<tr>
				<td><a href="{{ path('instrumentConsulter', { 'id': i.id }) }}">{{ i.intitule }}</a></td>
				<td>{{ i.intitule }}</a></td>
				<td>{{ i.prixAchat }}</a></td>
				<td>{{ i.dateAchat|date('d/m/Y') }}</td>
				<td>{{ i.utilisation}}</td>
				<td>{{ i.marque.nom}}</td>
				<td>{{ i.couleur.libelle}}</td>
				<td>{{ i.etat.libelle}}</td>
				<td>{{ i.typeinstrument.libelle}}</td>
				
	{% else %}
			<tr>
				<td>Aucun instrument n'a été trouvé.</td>
			</tr>
	{% endfor %}
</table>
{% endblock %}
{{ block {"footer", "footer.html.twig"} }}