{{ block("header", "header.html.twig") }}
{# templates/emprunt/ajouter.html.twig #}
<div class="emploi-temps center bg">
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	<button class="btn btn-primary" style=" background-color: white; color: black;" type="submit">Ajouter</button>
</div>
{{ block("footer", "footer.html.twig") }}
