{% block header %}
<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Accueil</title>
</head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <body style="background: linear-gradient(#33FFF9 , #3933FF); width: 100%;     background-repeat: no-repeat; background-attachment: fixed;">

  <header style="display: block; width: 100%;">
    <div class="container">
      <div class="px-3 py-2  text-black">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ path('route_accueil') }}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-black text-decoration-none"><img class="logo" src="{{ asset('img/logo-swipe.png')}}" alt="e-music" style="width: 60px;"></a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li>
                  <a href="{{ path('route_accueil') }}" class="nav-link text-black">
                    <i class="fa-solid fa-house bi d-block mx-auto mb-1 size-icon"><use xlink:href="#speedometer1"></use></i>Accueil
                  </a>
                </li>

      <li>
                        <a href="{{ path('instrumentListerType') }}" class="nav-link text-black">
                          <i class="fa-solid fa-guitar bi d-block mx-auto mb-1 size-icon" width="24" height="24"><use xlink:href="#speedometer2"></use></i>
                          Instruments
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('coursLister') }}" class="nav-link text-black">
                          <i class="fa-solid fa-music bi d-block mx-auto mb-1 size-icon" width="24" height="24"><use xlink:href="#speedometer3"></use></i>
                          Cours
                        </a>
                      </li>
                     {% if app.user.id is not defined %}



      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <li>
      <a href="{{path('app_logout')}}" class="nav-link text-black">
        <i class="fa-regular fa-user bi d-block mx-auto mb-1 size-icon" width="24" height="24"><use xlink:href="#speedometer3"></use></i>Se Déconnecter</a>
    </li>
  </div>
</nav>
{% endif %}
{% endblock %}