{{ block("header", "header.html.twig") }}
<h5 class="center">MES EMPRUNTS</h5>
<div class="emploi-temps center">

	{% block body %}

		<div class="tableau">
			<center>
				<div class="bg">
					{% if app.user.id is defined and app.user.roles.0 == 'ROLE_ELEVE' and eleve.id == app.user.eleve.id or app.user.id is defined and is_granted('ROLE_ADMIN') %}
						<table style="background-color:rgba(0, 0, 0, 0.5);" class="table table-bordered text-white" style="width:auto">
							<tr>
								<th scope="col">Instrument</th>
								<th scope="col">Date Emprunt</th>
								<th scope="col">Date Fin</th>
								<th scope="col">Etat</th>
							</tr>
							{% for i in eleve.emprunters %}
								<tr>
									<td>
										<a href="{{ path('instrumentConsulter', { 'id': i.instrument.id }) }}">{{i.instrument.intitule}}</a>
									</td>
									<td>{{ i.datedebut|date("d/m/Y")}}</td>
									<td>{{ i.dateretour|date("d/m/Y")}}</td>
									<td>{{ i.instrument.etat.libelle}}</td>
									<td>
										<a href="{{ path('empruntSupprimer', { 'id': i.id }) }}">
											<button type="button" class="btn btn-danger">Supprimer</button>
										</a>

									</td>
								</tr>
							{% endfor %}
						</table>

						{% if is_granted('ROLE_ELEVE') %}
							<a href="{{ path('empruntAjouter', { 'id': app.user.eleve.id }) }}">
								<button type="button" style=" background-color: white; color: black;" class="btn btn-outline-dark">Emprunter un instrument</button>
							</a>
						{% endif %}

					{% else %}
						<p>Vous ne pouvez pas voir cela !</p>
					{% endif %}
				</div>
			</center>
		</div>
	{% endblock %}
</div>

{{ block("footer", "footer.html.twig") }}
