{{ block("header", "header.html.twig") }}


{% block body %}
      <h5>COURS DE CHAQUE SEMAINE</h5>
      <div class="emploi-temps">
        <table class="table table-bordered text-black">
            <thead>
              <tr>
                <th scope="col">Jour</th>
                <th scope="col">Heure Début</th>
                <th scope="col">Heure Fin</th>
                <th scope="col">Cours</th>
                <th scope="col">Professeur</th>
                <th scope="col">Type cours</th>
              </tr>
            </thead>
            <tbody>
              {% for c in pCours %}
                <tr>
                    <td>{{c.dateCours}}</td>
                    <td>{{c.heureDebut}}</td>
                    <td>{{c.heureFin}}</td>
                    <td><a href="{{ path('coursConsulter', { 'id': c.id }) }}">{{c.libelle}}</a></td>
                    <td>{{c.professeur.nom}}</td>
                    <td>{{c.typeCours.libelle}}</td>
                </tr>
              {% else %}
                <tr>
                <td>Aucun cours n'a été trouvé.</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
{% endblock %}
{{ block("footer", "footer.html.twig") }}
